.adminData {

  &-customModule {

    &-title {
      margin: 12px 0 10px 20px;
    }

    &-properties {
      border: 1px solid #848181;
      width: 70%;
      margin: 12px 0 10px 20px;
      padding: 5px;
      text-align: center;
      background-color: #fff;
    }

  }

}