.adminCard {

  &-customModule {

    &-header {
      margin: 20px;
      border-bottom: 1px solid #0C0C0C;

      &-title{
        display: inline;
        font-size:30px;
        color:#000;
      }
      &-checkBox {
        display: inline;
        float: right;
        padding: 0;
        margin-top: 11px;
        font-size: 20px;

        input[type="checkbox"] {
          margin-right: 6px;
        }
      }
    }
    &-addElementbtn {
      background-color: #45aaf2;
      cursor: pointer;
      text-align: center;
      padding-top: 15px;
      margin-top: 15px;
      color: #fff;
      font-weight: 500;
      text-transform: uppercase;
      height: 45px;
    }

    &-selectedData {
      background-color: #fff;
      padding: 10px 0 0 10px;
      margin-top: 15px;
      color: #262626;
      font-weight: 500;
      height: 45px;
      font-size: 16px;
    }

    &-removeColumn {
      color: #e57244;
      font-size: 17px;
      float: right;
      padding: 2px 20px;
    }

    &-content {
      display: inline-block;
      width: 100%;

      &-template {
        display: inline-block;
        float: right;
        width: 40%;
        margin-top: 20px;
        background-color: #fff;
        margin-right: 9px;
        padding-bottom: 10px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);


        &-image {
          background-color: #cccccc;
          height:100px;
          margin-bottom: 5px;
        }
        &-title {
          background-color: #cccccc;
          height:30px;
          width:75%;
          margin:0 0 7px 10px;
        }

        &-subTitle {
          background-color: #cccccc;
          width:50%;
          height:25px;
          margin:0 0 10px 10px;
        }
        &-content {
          background-color: #cccccc;
          height:15px;
          margin:0 10px 3px 10px;
        }
      }

      &-columnsList {
        display: inline-block;
        width: 45%;
        margin-left: 20px;
        margin-top: 7px;

        &-columns {
          padding: 0;
          margin-left: 20px;
        }

        &-column {
          list-style-type: none;
          display: flex;
          margin: 20px 20px 12px 0px;
          background-color: #fff;
          color: #3a3b3b;
          font-family: Colfax;
          font-weight: 600;
          font-size: 15px;
        }
        &-header {
          flex: 1;
          background-color: #e4e4e4;
          text-align: center;
          padding: 10px;
          font-size: 16px;
        }
        &-value {
          flex: 2;
          text-align: left;
          padding: 10px 0 0 10px;
          font-size: 16px;
        }
      }
    }
  }
  & a {
    color: inherit;
    text-decoration: none;
  }

}
