.infocard {
  display: flex;
  flex-wrap: wrap;

  .card-block {
    border: 1px solid #BFBABA;
    width: 359px;
    height: 350px;
    margin: 10px;

    &-image {
      width: 100%;
      height:50%;
      display: block;
    }
    &-content {
      display: flex;

      &-left {
        flex: 1;
      }
      &-right{
        flex: 1;
        position: relative;
      }
      &-info{
        margin: 15px 0 0 15px;
      }
      &-digit{
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 50%; /* remove if you don't care about IE8 */
        width: 100px;
        height: 100px;
        padding: 30px;
        background: #fff;
        border: 2px solid #666;
        color: #666;
        text-align: center;
        font: 32px Arial, sans-serif;
      }
    }
  }
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  margin-top:10px;
  margin-bottom:10px;
  background-color:#FFF;
}

.card:hover {
  box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card > .card-inner {
  padding:10px;
}
.card .header h2, h3 {
  margin-bottom: 0px;
  margin-top:0px;
}
.card .header {
  margin-bottom:5px;
}
.card img{
  width:100%;
}
