<div class="container">
    <div class="card-columns infocard">
        <div>
            <div ng-repeat="info in cardVm.cardData track by $index" class="col-sm-4">
                <div class="infocard-card">
                    <div  ng-if="cardVm.cardKeyLookup('image')" class="infocard-image">
                        <!--<img ng-if="cardVm.cardKeys.image == 'image'" src="{{ info[cardVm.cardKeys.image] }}" />-->
                        <img ng-if="cardVm.cardKeys.image == 'image'" src="http://3.bp.blogspot.com/_otMKl0CFmuE/TSCxSQ7kovI/AAAAAAAAASw/RE4L3TrNYPM/s1600/caterpillar-equipment-parts.jpg" />
                        <div ng-if="cardVm.cardKeys.image != 'image'">{{ info[cardVm.cardKeys.image] }}</div>
                    </div>
                    <div class="infocard-card-inner">
                        <div class="infocard-header">
                            <div ng-if="cardVm.cardKeyLookup('name')"><h3>{{ info[cardVm.cardKeys.name] }}</h3></div>
                        </div>
                        <div class="infocard-content">
                            <div ng-if="cardVm.cardKeyLookup('content1')">{{ info[cardVm.cardKeys.content1] }}</div>
                            <div ng-if="cardVm.cardKeyLookup('content2')">{{ info[cardVm.cardKeys.content2] }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ui-view></div>