<div class="adminTimeline">
    <div class="adminTimeline-customModule-header">
        <div class="adminTimeline-customModule-header-title">Charts</div>
        <div  class="adminTimeline-customModule-header-checkBox">
            <input  ng-model="adminTimeLineVm.isTimeLineEnable" ng-click="adminTimeLineVm.saveSettings(adminTimeLineVm.isTimeLineEnable)" type="checkbox" ng-checked="adminTimeLineVm.isTimeLineEnable">Enable
        </div>
    </div>
    <div class="adminData-customModule-dataSettings-dropDownOptions">
        <select>
            <option value="Select Template">Select Template</option>
            <option value="template1">template1</option>
            <option value="template2">template2</option>
        </select>
    </div>
    <div class="adminTimeline-customModule-content">
        <div class="adminTimeline-customModule-content-columnsList">
            <div ng-if="!adminTimeLineVm.isKeyPresent('timeLine1')" ng-click="adminTimeLineVm.openDialogue('timeLine1')" class="adminTimeline-customModule-addElementbtn">Add Timeline</div>
            <div ng-if="adminTimeLineVm.isKeyPresent('timeLine1')" class="adminTimeline-customModule-selectedData">
                Name: {{adminTimeLineVm.timeLine1}}
                <div ng-click="adminTimeLineVm.removeTimeLine('timeLine1')" class="adminTimeline-customModule-removeColumn">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </div>
            </div>
            <div ng-if="!adminTimeLineVm.isKeyPresent('timeLine2')" ng-click="adminTimeLineVm.openDialogue('timeLine2')" class="adminTimeline-customModule-addElementbtn">Add Timeline</div>
            <div ng-if="adminTimeLineVm.isKeyPresent('timeLine2')" class="adminTimeline-customModule-selectedData">
                Name : {{adminTimeLineVm.timeLine2}}
                <div ng-click="adminTimeLineVm.removeTimeLine('timeLine2')" class="adminTimeline-customModule-removeColumn">
                    <span class="glyphicon glyphicon-remove " aria-hidden="true"></span>
                </div>

            </div>
        </div>
        <div class="adminTimeline-customModule-content-template">
            <div class="adminTimeline-customModule-content-template-image"></div>
            <div class="adminTimeline-customModule-content-template-title"></div>
            <div class="adminTimeline-customModule-content-template-subTitle"></div>
            <div class="adminTimeline-customModule-content-template-content"></div>
            <div class="adminTimeline-customModule-content-template-content"></div>
            <div class="adminTimeline-customModule-content-template-content"></div>
            <div class="adminTimeline-customModule-content-template-content"></div>
        </div>
    </div>
</div>